.container_principal header {
  background: #20232a;
  color: #61dafb;
  padding: 30px 20px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 5vh;
}

.container_principal header p {
  font-weight: bold;
}

.banner {
  background-color: #282c34;
  min-height: 30vh;
  padding: 80px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.banner h1 {
  color: #61dafb;
}

.banner p {
  font-size: 18px;
  color: white;
}

.banner a {
  background: #61dafb;
  color: #20232a;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 3px;
}

.banner a:hover {
  background: #4afab6;
  transition: all .7s;
}

.requisitos {
  min-height: 50vh;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container {
  min-width: 280px;
  max-width: calc(280px * 3 + 40px);

  gap: 20px;
  display: flex;
  flex-flow: row wrap;
}

.cards {
  width: 280px;
  height: 120px;
  padding: 5px 20px;

  color: white;
  background-color: #282c34;
  border-radius: 4px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.37);

  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;

  text-align: center;
}

.cards h3 {
  color: #edc854;
}

.cards p {
  font-size: 14px;
}

.container_principal footer {
  min-height: 5vh;
  padding: 25px;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  background: #f2f3f6;
}

.container_principal footer p {
  font-size: 16px;
  font-weight: bold;
}