.main {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg_vermelho {
  width: 200px;
  height: 200px;
  background-color: red;
}

.bg_azul {
  width: 200px;
  height: 200px;
  background-color: blue;
}