.main {
  flex: 1 1 auto;

  display: flex;
  flex-flow: row;
  justify-content: center;
}

.cardapio {
  width: 100%;
  min-height: 650px;
  background: wheat;

  padding: 20px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1224px;
  padding: 50px 20px;
  background: white;
  border-radius: 10px;

  gap: 30px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}